<section class="section events">
  <h2 class="events-title">Próximos eventos</h2>
  <div class="container">
    {{ range (where (where .Site.RegularPages.ByDate.Reverse "Type" "eventos") "Date" ">=" now) }}
      <div class="post-thumbnail">
        <a href="{{ .Permalink }}"><img src="{{ .Params.thumbnail }}" alt="Cartel del evento"></a>
      </div>
    {{ end }}
  </div>
</section>
